html {
    background:#eee;
}
body {
    font-family:sans-serif;
    width:816px;
    margin:auto;
    background:#fff;
    padding:96px;
    box-shadow: 0 0 2px #000;
    margin-top:50px;
}
li {
    padding: 5px 0;
}
a {
    text-decoration:none;
    color:#22c;
}
li div, li span {
    display: inline;
    padding: 0 5px;
}
li span:after {
    content:'.';
}
li div:not(:last-child) {
    border-right: 1px solid #000;
}
table * {
    border:1px solid #000;
    padding:10px;
}
table td:last-child {
	font-size:12px;
}
img {
    max-width:100%;
}
#contents{
	float:left;
	width:100%;
}
#contents > .block {
	float:left;
	width:50%;
}
#to_top {
	position: fixed;
	right: 20;
	bottom: 20;
	padding: 10px;
	background: #fff;
	z-index: 1;
}
section > div {
	padding-left:40px;
}


.arrow_box {
	position: relative;
	background: #fff;
	border: 2px solid #ccc;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 30px;
	left: 50%;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #ccc;
	border-width: 33px;
	left: 50%;
	margin-left: -33px;
}
