
<head>
	<title>Theory</title>
	<link rel=stylesheet href=page.css />
</head>
<body>
<a id=to_top href=#contents class=arrow_box >contents</a>
<ol id=contents >
	<div class=block>
		<li><a href=#foreword >A Foreword on Order</a>
			<ol>
				<li><a href=#pattern >The Pattern</a></li>
				<li><a href=#examples >Examples</a></li>
				<li><a href=#logic >Logic</a></li>
				<li><a href=#change >Room for Change</a></li>
			</ol>
		</li>
		<li><a href=#organs >Organisms, Organs &amp; Organelles</a>
			<ol>
				<li><a href=#cells >Cells</li></a>
				<li><a href=#us >You &amp; I</a></li>
				<li><a href=#analysis >System Analysis</a></li>
				<li><a href=#functionality >Common Functionality</a></li>
			</ol>
		</li>
	</div>
	<div class=block>
		<li>Parts of a Machine
			<ol>
				<li>Storage</li>
				<li>Distribution</li>
				<li>Processing</li>
				<li>Input/Output</li>
			</ol>
		</li>
		<li>Connecting the Dots
			<ol>
				<li><a href=#biology_technology >Comparing Biology With Technology</a></li>
				<li>Paralleling Digital With Chemical</li>
				<li>Making Sense of it All</li>
				<li>Room For Evolution</li>
			</ol>
		</li>
	</div>
</ol>
<section id=foreword >
	<h1>A Foreword on Order</h1>
	
	<div id=pattern >
		<h2>The Pattern</h2>
		<p>
		As the basis of analysis of both a cellular and cybernetic organism will be The Pattern of Four (Henceforth: The Pattern, or TPoF).<br/>
		The Pattern is a theory of order which aims to describe all facets of the universe, in essence it is a theory of everything.<br/>
		As the name suggests, four main elements form the pattern - these are most broadly described as Objects, Connections, Structure &amp; Change.<br/>
		This theory was initially intended to be a physical description of the universe, but for the time being it is philosophical in nature.
		</p>
	</div>
	<div id=examples >
		<h2>Examples</h2>
		<p>
		The most obvious example, as mentioned in the paper, is the four states of matter - Gaseous, Liquid, Solid &amp; Reaction.<br/>
		The mind can be split up in this way Imagination, Memory, Logic &amp; Passion - As can the seasons Spring, Winter, Autumn &amp; Summer<br/>
		Personal Computer: Storage(RAM, HDD), Distribution(Motherboard, Cables), Processing(CPU, GPU), Input/Output(Keyboard, Screen)<br/>
		Any example will invariably contain more or less clearly definable and countable parts, in TPoF this is seen as conjoined or incomplete systems respectively.
		</p>
	</div>
	<div id=logic >
		<h2>Logic</h2>
		<p>
		Observable facts about the universe lead me to conclude that there must be some simple pattern to describe the complex systems which are apparent.<br/>
		The universe is fractalline in nature <sup>[1]</sup><br/>
		There are patterns that repeat on the most minute and grandest scales <sup>[2]</sup><br/>
		That symmetry is a key aspect when unfolding the patterns of the universe <sup>[3]</sup>
		</p>
	</div>
	<div id=change >
		<h2>Room for Change</h2>
		<p>
		The Pattern itself shows obvious symmetry, with dualities between opposing and conjoining elements. The pattern may be "folded" in such a way as to simplify the pattern.<br/>
		From this we can see TPoF is really a phantasm - that the pattern may be applied with anywhere between two and infinite parts, but that four parts are understandable at a human level.<br/>
		The Pattern may also have more or less elements than supposed, for instance some use the fifth element "aether" <sup>[4]</sup><br/>
		All-in-all, The Pattern of Four is still very much under development, but it is useful and functional for the best part.
		</p>
	</div>
</section>
<section id=organs >
	<h1>Organisms, Organs &amp; Organelles</h1>
	
	<div id=cells >
		<h2>Cells</h2>
		<p>
			A cell is perhaps the most widely understood self-contained system; most people
			will be able to name a couple of its organelles (components) from the top of their heads.
			I am looking at the cell because, from a computing viewpoint, it can
			be seen as an information system - in the aspect that it processes
			and communicates with chemical information.
		</p>
		<p>
			Through many sources <sup>[5-10]</sup> I discovered that there are many more
			components that are not mentioned in Biology class.
			I used Python to compare multiple definitions of the various organelles,
			outputting them at once so that I could summarise each organelle in my own
			words. I then printed the new object as a table, allowing it to be pasted
			directly into html.
		</p>
		<sup>[7]</sup><img src=http://www.biologyjunction.com/images/04-05A-AnimalCell-L.jpg width=100% />
		<h3>Storage</h3>
		<table>
			<tr>
				<td>nucleus</td>
				<td>The information and administrative center of the cell,
				contains all the information required to build the cell in the
				form of genes.</td>
			</tr>
			<tr>
				<td>nuclear envelope</td>
				<td>Double-membrane that separates the DNA from the cytosol in
				the nucleus.</td>
			</tr>
			<tr>
				<td>nucleolus</td>
				<td>Produces ribosomes</td>
			</tr>
			<tr>
				<td>nuclear pores</td>
				<td>Holes in the nuclear membrane that allow the passing of RNA
				in and out of the nucleus.</td>
			</tr>
		</table>
		<h3>Communication</h3>
		<table>
			<tr>
				<td>plasma membrane</td>
				<td>The plasma membrane is a layer of lipids that controls what
				goes in and out of the cell. </td>
			</tr>
			<tr>
				<td>junctions</td>
				<td>Junctions are part of the cytoskeleton, they connect cells
				to other cells - or simply to their basement membrane.
				Communicating junctions allow communication of molecules between
				cells, whereas tight junctions prevent seepage.</td>
			</tr>
			<tr>
				<td>golgi apparatus</td>
				<td>The Golgi Apparatus modifies macromolecules (proteins &amp;
				fats) built in the Endoplasmic Reticulum for transfer outside of
				the cell or to other organelles.</td>
			</tr>
			<tr>
				<td>secretory vesicles</td>
				<td>An enclosed sac that is used to transport molecules through
				the membrane. Cells may receive secretory vesicles from other
				cells through the plasma membrane.</td>
			</tr>
		</table>
		<h3>Structure</h3>
		<table>
			<tr>
				<td>cytoskeleton</td>
				<td>A network of microtubules, microfilaments, and intermediate
				filaments that branch throughout the cytoplasm and serve a
				variety of mechanical and transport functions.</td>
			</tr>
			<tr>
				<td>intermediate filaments</td>
				<td>Maintain the mechanical structure of the cell, providing
				rigidity. Filaments in different types of cells are formed from
				different proteins.</td>
			</tr>
			<tr>
				<td>microfilaments</td>
				<td>Microfilaments are an important part of the cytoskeleton,
				they form a web-like layer below the cell's plasma membrane. It
				helps to define the shape of the cell.</td>
			</tr>
			<tr>
				<td>microtubules</td>
				<td>Straight, hollow cylinders that form the main building
				blocks of the cytoskeleton - restricting the movement of the
				cells components but facilitating the movement of materials.</td>
			</tr>
			
		</table>
		<h3>Reaction</h3>
		<table>
			<tr>
				<td>peroxisomes</td>
				<td>Peroxisomes are the most common type of microbody (not to be
				confused with a microbe), they clean the cell of toxins such as
				peroxide and break down fatty acids.</td>
			</tr>
			<tr>
				<td>lysosomes</td>
				<td>Lysosomes digest materials both within and originating from
				outside the cell, they recycle by-products of internal chemical
				reactions to do this.</td>
			</tr>
			<tr>
				<td>ribosomes</td>
				<td>A ribosome is made from strands of RNA and proteins. They
				are the site of protein synthesis in the cytoplasm, converting
				RNA into Proteins.</td>
			</tr>
			<tr>
				<td>centrosomes</td>
				<td>Contain the centrioles, which are involved in the process of
				cell division.</td>
			</tr>
			<tr>
				<td>centrioles</td>
				<td>Self-replicating organelles found in animal cells that help
				with cell division. They contain nine bundles of microtubules.</td>
			</tr>
			<tr>
				<td>mitochondria</td>
				<td>Mitochondria generate energy by respiration of oxygen and
				nutrients in the form of ATP. They have other functions
				including synthesis of steroids and storage of calcium ions.</td>
			</tr>
			<tr>
				<td>rough endoplasmic reticulum</td>
				<td>Endoplasmic reticulum that is studded with ribosomes. It
				also transports the proteins made in the ribosomes and connects
				the nuclear envelope to the cytoplasm.</td>
			</tr>
			<tr>
				<td>smooth endoplasmic reticulum</td>
				<td>Endoplasmic reticulum that has no ribosomes. It synthesises
				#lipids, stores calcium ions and many enzymes are attached to
				its surface.</td>
			</tr>
		</table>
		<p>
			Furthermore, there are a few units of communication <sup>[11]</sup> including
			<strong>RNA, Proteins, Hormones, Lipids &amp; Steroids</strong> <sup>[12-16]</sup>
		</p>
		
		<h3>Excluded</h3>
		<p>
			These organelles were excluded either because they are not found in
			all cells - and are therefore unneeded, or because they provide
			motion for the cell - which has no parallel when considering the
			internet as an environment.
		</p>
		<table>
			<tr>
				<td>flagella</td>
				<td>A small collection of microtubules outside of the cell that
				enable it to move.</td>
			</tr>
			<tr>
				<td>cilia</td>
				<td>Hair-like structures that help to move the cell, or move the
				surroundings of the cell away from it.</td>
			</tr>
			<tr>
				<td>chloroplasts</td>
				<td>Chloroplasts trap energy from sunlight in organic molecules
				made of carbon dioxide and water.</td>
			</tr>
			<tr>
				<td>vacuole</td>
				<td>An enclosed sac which provides pressure inside of a plant
				cell to keep the cell wall rigid.</td>
			</tr>
		</table>
		<p>
			
		</p>
	</div>
	<div id=us >
		<h2>You &amp; I</h2>
		<p>
			It maybe easier to understand this method of classification by using
			it on something more familiar - the human body. This structure is
			vastly more complex as it contains many trillions of cells.
			We must recognise that with each jump in stature there is also a
			jump in paradigm - the best example of this is the method of
			communication: cells communicate via complex chemicals, we communicate
			via sound waves and visual cues. However, because we are made from
			cells, we also communicate using complex chemicals (pheromones) - 
			so this paradigm shift is more like an accumulation of the previous
			paradigm.
		</p>
		<h3>Neurological System</h3>
		<p>
			This system is made of the brain and spinal cord (Central Nervous System),
			neurons (Peripheral Nervous System), as well as the collection of
			digestion aiding neurons around the stomach (Enteric Nervous System).
			Sensory organs send impulses to the brain through sensory neurons,
			and muscles receive impulses from the brain through motor neurons.
		</p>
		<h3>Communication System</h3>
		<p>
			Primarily consists of the sensory organs, but also those that
			provide the sensory input
			Includes transporting chemicals around the body through the blood,
			and transmitting chemicals to other organisms through the air. This
			system also delivers energy to the body and plays some part in
			disposing of waste.
			May include some sensory organs as well as the vocal chords as the
			means of transmitting more complex information.
		</p>
		<h3>Mechanical System</h3>
		<p>
			As well as the skeleton, this also includes structural elements
			such as cartilage and tendons. Muscles may also be included in this
			group, as they provide motion to the mechanism. The muscles are
			controlled by the neurological system and are the main benefactors
			from the internal communication system.
		</p>
		<h3>Digestive System</h3>
		<p>
			Includes the stomach &amp; intestines, but also the lungs - as they
			are a crucial part of digestion. 
			Takes oxygen and food through the mouth and uses them for energy and
			growth - the waste is excreted. Once ingested, chemicals are sent
			around the body through the communication system.
		</p>
	</div>
	<div id=analysis >
		<h2>System Analysis</h2>
		<p>
			The individual organism is comprised of many organs,
				which are comprised of many tissues,
					which are comprised of many cells,
			... humans > organs > tissues > cells > organelles > compounds > atoms ...
			This line goes on indefinitely in both directions
			The name organelle comes from the idea that these structures are to cells what an organ is to the body
		</p>
		<p>
			How are these groups connected?
			How does the biological system build up in this way?
			
		</p>
	</div>
	<div id=functionality >
		<h2>Common Functionality</h2>
		<h3>The two systems described above have various things in common</h3>
		<ol>
			<li>They can be considered organisms, or individuals</li>
			<li>They communicate &amp; connect with others such as themselves</li>
			<li>They are made from a system of smaller parts</li>
			<li>They can produce others such as themselves</li>
		</ol>
		<p>
			Both organisms have a centralised base of operations, that both
			receives and send information in order to make decisions.
			Both organisms require specialised systems to communicate with
			organisms like themselves.
			Structure is provided by solid filaments that can act to flesh out
			and support other systems.
			Both require a system to extract the energy and useful material from
			structures lesser than themselves.
		</p>
		<p>
			It can be hard to parallel two things of such differing scale, but
			that is what TPoF is designed for, or rather derived from.
		</p>
	</div>
</section>
<section id=parts >
	
</section>
<section id=connecting >
	<div id=biology_technology >
		<p>
			Many people think of biology and technology as two separate things
			which have nothing in common, science fiction and the 'hidden' nature
			of how technology works propels the idea that machines are senseless
			and cold, and not capable of true life or intelligence.
			I think the reason behind this is the knowledge we have over the
			respective fields: we don't understand biology because we have to
			break it apart to inspect it; we do understand technology
			(collectively as a species) because we built it from the ground up.
			There is still mystery as to how biology works on the most basic
			level, this gives people a predisposition to see it as 'magical' [dan dennett] or
			special, even though it is just particles following physical laws that
			we are constantly understanding better. [einstein]
		</p>
		what are the similarities
		<p>
			Biological systems share many features of the computational systems
			we have made.
			They both pass around information internally to perform a task.
			They both consume 'information' from other systems on the same level
			and excrete the useless parts
		</p>
		what are the differences
		<p>
			the data on a computational system is imaginary, that means if there
			is waste information it can simply be deleted
			the environment that websites - the information system i will be 
			creating - inhabit is a virtual one, and it does not parallel exactly
			with the physical environments in which biological organisms inhabit.
		</p>
		biology as information systems
		<p>
			all biological systems can be seen as information systems. In terms
			of cells we saw how a few complex chemicals are used to communicate,
			replicate and stay alive.
			With the human we see a complex system of cells which communicate
			and survive in this way, but then another system (neurological) which
			connects the cells via electrochemical information
		</p>
		technology as organisms
	</div>
	All data is text, even numbers. php &amp; js have the ability to treat text
	like numbers in certain situations.
	All data is information in this context, four main data types:
		DB tables: data linked to labels
		PHP objects: copies of specific rows
		XML elements: data embedded in tags
		JSON objects: data with name:value tree structure
	
	
</section>
</body>

