
<style>
body,body * {
margin:0;
padding:0;
position:relative;
box-sizing:border-box;
font-family:sans-serif;
}
section.table {
float:left;
width:265px;
padding:10px;
margin:10px;
font-size:12px;
}
section.table article {
width:100%;
float:left;
}
section.table article div {
float: left;
width: 75px;
max-height: 25px;
overflow: hidden;
border: 1px solid #eee;
height: 100%;
padding: 2px;
}
*:not(.column):not(.hover)>.column {
background-color:#fff;
}
section.table article .column .column {
width:50%;
margin:0;
border:none;
}
.col {
font-size:120%;
text-align:center;
max-height:30px !important;
}
.rows {
width: 100%;
float: left;
height: 100px;
overflow: auto;
}
header * {
	float:left;
}
header h2 {
	width:50%;
	text-align:center;
}
header .search {
	width:40%;
}
header .add_button {
	width:10%;
}
.hover {
	background-color:#def !important;
}
#joins {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	background: #fff;
}
#tables {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	background: #fff;
	padding-right:300px;
	height:100%;
}
.join h2{
font-size:13px;
}
.add_button:before {
	content:"+";
}
.add_button {
	width: 10%;
	height: 20px;
	background: #dfe;
	text-align: center;
	font-size: 17px;
}
.add_button:hover {
cursor:pointer;
}
.col input {
	width:100%;
}
section.table article div.val_drop {
	width:100% ;
	height:100%;
	padding:0;
}
</style>
<script src=../js/jq.js></script>
<script src=../js/hi.js></script>
<script src=../js/st/lib/jquery-scrollto.js></script>
<script src=../js/ui/js/jquery-ui-1.10.4.custom.min.js ></script>
<div id=tables >
<section class="table" >
		<header>
			<h2>articles</h2>
			<input placeholder=search class=search />
			<div class='add_button'></div>
		</header>
		<article class=cols ><div class=col  >article</div><div class=col  >views</div><div class=col  >reference</div></article>
		<div class=rows><article class=row  db_id=1  ><div class=column  db_val=Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away. >Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.</div><div class=column  db_val=0 >0</div><div class=column  db_val=Antoine de Saint-Exupéry >Antoine de Saint-Exupéry</div></article><article class=row  db_id=2  ><div class=column  db_val=The third-rate mind is only happy when it is thinking with the majority. The second-rate mind is only happy when it is thinking with the minority. The first-rate mind is only happy when it is thinking. >The third-rate mind is only happy when it is thinking with the majority. The second-rate mind is only happy when it is thinking with the minority. The first-rate mind is only happy when it is thinking.</div><div class=column  db_val=0 >0</div><div class=column  db_val=A. A. Milne >A. A. Milne</div></article><article class=row  db_id=3  ><div class=column  db_val=You're ready for our advanced class. >You're ready for our advanced class.</div><div class=column  db_val=0 >0</div><div class=column  db_val=http://abstrusegoose.com/511 >http://abstrusegoose.com/511</div></article><article class=row  db_id=4  ><div class=column  db_val=img >img</div><div class=column  db_val=0 >0</div><div class=column  db_val=http://www.redheadsrule.me/content/4809/photo.jpg >http://www.redheadsrule.me/content/4809/photo.jpg</div></article><article class=row  db_id=5  ><div class=column  db_val=Hello! >Hello!</div><div class=column  db_val=0 >0</div><div class=column  db_val=https://www.google.co.uk/search?q=hello&aq=f&oq=hello&aqs=chrome.0.57j0j5j0.1070j0&sourceid=chrome&ie=UTF-8 >https://www.google.co.uk/search?q=hello&aq=f&oq=hello&aqs=chrome.0.57j0j5j0.1070j0&sourceid=chrome&ie=UTF-8</div></article><article class=row  db_id=6  ><div class=column  db_val=DOMElement >DOMElement</div><div class=column  db_val=0 >0</div><div class=column  db_val=http://www.php.net/manual/en/domelement.setattribute.php >http://www.php.net/manual/en/domelement.setattribute.php</div></article></div>
	</section><section class="table" >
		<header>
			<h2>contents</h2>
			<input placeholder=search class=search />
			<div class='add_button'></div>
		</header>
		<article class=cols ><div class=col db_reff=element >element_id</div><div class=col db_reff=content >content</div></article>
		<div class=rows><article class=row  db_id=1  ><div class=column  db_reff=element db_id=3 ><div class=column >head</div><div class=column >title</div></div><div class=column  db_reff=content db_id=Bionic >Bionic</div></article><article class=row  db_id=2  ><div class=column  db_reff=element db_id=9 ><div class=column >nav</div><div class=column >a</div></div><div class=column  db_reff=content db_id=home >home</div></article><article class=row  db_id=3  ><div class=column  db_reff=element db_id=10 ><div class=column >nav</div><div class=column >a</div></div><div class=column  db_reff=content db_id=test >test</div></article><article class=row  db_id=4  ><div class=column  db_reff=element db_id=11 ><div class=column >nav</div><div class=column >a</div></div><div class=column  db_reff=content db_id=link >link</div></article><article class=row  db_id=5  ><div class=column  db_reff=element db_id=12 ><div class=column >nav</div><div class=column >a</div></div><div class=column  db_reff=content db_id=more >more</div></article><article class=row  db_id=6  ><div class=column  db_reff=element db_id=13 ><div class=column >nav</div><div class=column >a</div></div><div class=column  db_reff=content db_id=stuff >stuff</div></article><article class=row  db_id=7  ><div class=column  db_reff=element db_id=7 ><div class=column >header</div><div class=column >h1</div></div><div class=column  db_reff=content db_id=OiS-CIS >OiS-CIS</div></article><article class=row  db_id=8  ><div class=column  db_reff=element db_id=14 ><div class=column >div</div><div class=column >main</div></div><div class=column  db_reff=content db_id=[table:articles] >[table:articles]</div></article><article class=row  db_id=9  ><div class=column  db_reff=element db_id=24 ><div class=column >article</div><div class=column >section</div></div><div class=column  db_reff=content db_id=[field:article] >[field:article]</div></article><article class=row  db_id=10  ><div class=column  db_reff=element db_id=27 ><div class=column >footer</div><div class=column >span</div></div><div class=column  db_reff=content db_id=[field:views] >[field:views]</div></article><article class=row  db_id=11  ><div class=column  db_reff=element db_id=26 ><div class=column >footer</div><div class=column >a</div></div><div class=column  db_reff=content db_id=[field:reference] >[field:reference]</div></article></div>
	</section><section class="table join" >
		<header>
			<h2>element_styles</h2>
			<input placeholder=search class=search />
			<div class='add_button'></div>
		</header>
		<article class=cols ><div class=col db_reff=element >element_id</div><div class=col db_reff=style >style_id</div></article>
		<div class=rows><article class=row  ><div class=column  db_reff=element db_id=1 ><div class=column >html</div></div><div class=column  db_reff=style db_id=1 ><div class=column >width</div><div class=column >100%</div></div></article><article class=row  ><div class=column  db_reff=element db_id=1 ><div class=column >html</div></div><div class=column  db_reff=style db_id=2 ><div class=column >height</div><div class=column >100%</div></div></article><article class=row  ><div class=column  db_reff=element db_id=4 ><div class=column >html</div><div class=column >body</div></div><div class=column  db_reff=style db_id=1 ><div class=column >width</div><div class=column >100%</div></div></article><article class=row  ><div class=column  db_reff=element db_id=4 ><div class=column >html</div><div class=column >body</div></div><div class=column  db_reff=style db_id=2 ><div class=column >height</div><div class=column >100%</div></div></article><article class=row  ><div class=column  db_reff=element db_id=4 ><div class=column >html</div><div class=column >body</div></div><div class=column  db_reff=style db_id=3 ><div class=column >padding</div><div class=column >0</div></div></article><article class=row  ><div class=column  db_reff=element db_id=4 ><div class=column >html</div><div class=column >body</div></div><div class=column  db_reff=style db_id=4 ><div class=column >margin</div><div class=column >0</div></div></article><article class=row  ><div class=column  db_reff=element db_id=4 ><div class=column >html</div><div class=column >body</div></div><div class=column  db_reff=style db_id=5 ><div class=column >position</div><div class=column >relative</div></div></article><article class=row  ><div class=column  db_reff=element db_id=4 ><div class=column >html</div><div class=column >body</div></div><div class=column  db_reff=style db_id=6 ><div class=column >font-family</div><div class=column >sans-serif</div></div></article><article class=row  ><div class=column  db_reff=element db_id=4 ><div class=column >html</div><div class=column >body</div></div><div class=column  db_reff=style db_id=7 ><div class=column >box-sizing</div><div class=column >border-box</div></div></article><article class=row  ><div class=column  db_reff=element db_id=5 ><div class=column >body</div><div class=column >div</div></div><div class=column  db_reff=style db_id=8 ><div class=column >margin</div><div class=column >auto</div></div></article><article class=row  ><div class=column  db_reff=element db_id=5 ><div class=column >body</div><div class=column >div</div></div><div class=column  db_reff=style db_id=10 ><div class=column >min-width</div><div class=column >800px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=5 ><div class=column >body</div><div class=column >div</div></div><div class=column  db_reff=style db_id=11 ><div class=column >max-width</div><div class=column >1024px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=5 ><div class=column >body</div><div class=column >div</div></div><div class=column  db_reff=style db_id=12 ><div class=column >box-shadow</div><div class=column >0 0 25px -5px #000</div></div></article><article class=row  ><div class=column  db_reff=element db_id=6 ><div class=column >div</div><div class=column >header</div></div><div class=column  db_reff=style db_id=1 ><div class=column >width</div><div class=column >100%</div></div></article><article class=row  ><div class=column  db_reff=element db_id=6 ><div class=column >div</div><div class=column >header</div></div><div class=column  db_reff=style db_id=13 ><div class=column >height</div><div class=column >150px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=6 ><div class=column >div</div><div class=column >header</div></div><div class=column  db_reff=style db_id=14 ><div class=column >background-color</div><div class=column >#fff</div></div></article><article class=row  ><div class=column  db_reff=element db_id=7 ><div class=column >header</div><div class=column >h1</div></div><div class=column  db_reff=style db_id=20 ><div class=column >padding</div><div class=column >30px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=7 ><div class=column >header</div><div class=column >h1</div></div><div class=column  db_reff=style db_id=21 ><div class=column >font-size</div><div class=column >40px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=7 ><div class=column >header</div><div class=column >h1</div></div><div class=column  db_reff=style db_id=22 ><div class=column >color</div><div class=column >#48f</div></div></article><article class=row  ><div class=column  db_reff=element db_id=8 ><div class=column >div</div><div class=column >nav</div></div><div class=column  db_reff=style db_id=1 ><div class=column >width</div><div class=column >100%</div></div></article><article class=row  ><div class=column  db_reff=element db_id=8 ><div class=column >div</div><div class=column >nav</div></div><div class=column  db_reff=style db_id=15 ><div class=column >height</div><div class=column >50px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=8 ><div class=column >div</div><div class=column >nav</div></div><div class=column  db_reff=style db_id=16 ><div class=column >background-color</div><div class=column >#def</div></div></article><article class=row  ><div class=column  db_reff=element db_id=14 ><div class=column >div</div><div class=column >main</div></div><div class=column  db_reff=style db_id=1 ><div class=column >width</div><div class=column >100%</div></div></article><article class=row  ><div class=column  db_reff=element db_id=14 ><div class=column >div</div><div class=column >main</div></div><div class=column  db_reff=style db_id=13 ><div class=column >height</div><div class=column >150px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=14 ><div class=column >div</div><div class=column >main</div></div><div class=column  db_reff=style db_id=17 ><div class=column >min-height</div><div class=column >500px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=14 ><div class=column >div</div><div class=column >main</div></div><div class=column  db_reff=style db_id=31 ><div class=column >padding</div><div class=column >10px 50px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=22 ><div class=column >div</div><div class=column >footer</div></div><div class=column  db_reff=style db_id=1 ><div class=column >width</div><div class=column >100%</div></div></article><article class=row  ><div class=column  db_reff=element db_id=22 ><div class=column >div</div><div class=column >footer</div></div><div class=column  db_reff=style db_id=18 ><div class=column >height</div><div class=column >100px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=22 ><div class=column >div</div><div class=column >footer</div></div><div class=column  db_reff=style db_id=19 ><div class=column >background-color</div><div class=column >#012</div></div></article><article class=row  ><div class=column  db_reff=element db_id=24 ><div class=column >article</div><div class=column >section</div></div><div class=column  db_reff=style db_id=1 ><div class=column >width</div><div class=column >100%</div></div></article><article class=row  ><div class=column  db_reff=element db_id=24 ><div class=column >article</div><div class=column >section</div></div><div class=column  db_reff=style db_id=35 ><div class=column >height</div><div class=column >75px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=24 ><div class=column >article</div><div class=column >section</div></div><div class=column  db_reff=style db_id=37 ><div class=column >overflow</div><div class=column >hidden</div></div></article><article class=row  ><div class=column  db_reff=element db_id=24 ><div class=column >article</div><div class=column >section</div></div><div class=column  db_reff=style db_id=46 ><div class=column >padding</div><div class=column >5px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=24 ><div class=column >article</div><div class=column >section</div></div><div class=column  db_reff=style db_id=47 ><div class=column >font-size</div><div class=column >15px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=25 ><div class=column >article</div><div class=column >footer</div></div><div class=column  db_reff=style db_id=1 ><div class=column >width</div><div class=column >100%</div></div></article><article class=row  ><div class=column  db_reff=element db_id=25 ><div class=column >article</div><div class=column >footer</div></div><div class=column  db_reff=style db_id=36 ><div class=column >height</div><div class=column >25px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=26 ><div class=column >footer</div><div class=column >a</div></div><div class=column  db_reff=style db_id=9 ><div class=column >width</div><div class=column >80%</div></div></article><article class=row  ><div class=column  db_reff=element db_id=26 ><div class=column >footer</div><div class=column >a</div></div><div class=column  db_reff=style db_id=25 ><div class=column >float</div><div class=column >left</div></div></article><article class=row  ><div class=column  db_reff=element db_id=26 ><div class=column >footer</div><div class=column >a</div></div><div class=column  db_reff=style db_id=37 ><div class=column >overflow</div><div class=column >hidden</div></div></article><article class=row  ><div class=column  db_reff=element db_id=26 ><div class=column >footer</div><div class=column >a</div></div><div class=column  db_reff=style db_id=41 ><div class=column >text-overflow</div><div class=column >ellipsis</div></div></article><article class=row  ><div class=column  db_reff=element db_id=26 ><div class=column >footer</div><div class=column >a</div></div><div class=column  db_reff=style db_id=42 ><div class=column >white-space</div><div class=column >nowrap</div></div></article><article class=row  ><div class=column  db_reff=element db_id=26 ><div class=column >footer</div><div class=column >a</div></div><div class=column  db_reff=style db_id=43 ><div class=column >padding</div><div class=column >5px 0 0 3px</div></div></article><article class=row  ><div class=column  db_reff=element db_id=27 ><div class=column >footer</div><div class=column >span</div></div><div class=column  db_reff=style db_id=38 ><div class=column >width</div><div class=column >20%</div></div></article><article class=row  ><div class=column  db_reff=element db_id=27 ><div class=column >footer</div><div class=column >span</div></div><div class=column  db_reff=style db_id=40 ><div class=column >float</div><div class=column >right</div></div></article><article class=row  ><div class=column  db_reff=element db_id=27 ><div class=column >footer</div><div class=column >span</div></div><div class=column  db_reff=style db_id=45 ><div class=column >text-align</div><div class=column >right</div></div></article><article class=row  ><div class=column  db_reff=element db_id=27 ><div class=column >footer</div><div class=column >span</div></div><div class=column  db_reff=style db_id=48 ><div class=column >padding</div><div class=column >5px 5px 0 0</div></div></article></div>
	</section><section class="table" >
		<header>
			<h2>elements</h2>
			<input placeholder=search class=search />
			<div class='add_button'></div>
		</header>
		<article class=cols ><div class=col db_reff=tag >tag_id</div><div class=col db_reff=element >par_id</div></article>
		<div class=rows><article class=row  db_id=1  db_reff=element  ><div class=column  db_reff=tag db_id=48 ><div class=column >html</div></div><div class=column  db_reff=element db_id=0 ></div></article><article class=row  db_id=2  db_reff=element  ><div class=column  db_reff=tag db_id=45 ><div class=column >head</div></div><div class=column  db_reff=element db_id=1 ><div class=column >html</div></div></article><article class=row  db_id=3  db_reff=element  ><div class=column  db_reff=tag db_id=102 ><div class=column >title</div></div><div class=column  db_reff=element db_id=2 ><div class=column >head</div></div></article><article class=row  db_id=4  db_reff=element  ><div class=column  db_reff=tag db_id=13 ><div class=column >body</div></div><div class=column  db_reff=element db_id=1 ><div class=column >html</div></div></article><article class=row  db_id=5  db_reff=element  ><div class=column  db_reff=tag db_id=29 ><div class=column >div</div></div><div class=column  db_reff=element db_id=4 ><div class=column >body</div></div></article><article class=row  db_id=6  db_reff=element  ><div class=column  db_reff=tag db_id=46 ><div class=column >header</div></div><div class=column  db_reff=element db_id=5 ><div class=column >div</div></div></article><article class=row  db_id=7  db_reff=element  ><div class=column  db_reff=tag db_id=39 ><div class=column >h1</div></div><div class=column  db_reff=element db_id=6 ><div class=column >header</div></div></article><article class=row  db_id=8  db_reff=element  ><div class=column  db_reff=tag db_id=66 ><div class=column >nav</div></div><div class=column  db_reff=element db_id=5 ><div class=column >div</div></div></article><article class=row  db_id=9  db_reff=element  ><div class=column  db_reff=tag db_id=1 ><div class=column >a</div></div><div class=column  db_reff=element db_id=8 ><div class=column >nav</div></div></article><article class=row  db_id=10  db_reff=element  ><div class=column  db_reff=tag db_id=1 ><div class=column >a</div></div><div class=column  db_reff=element db_id=8 ><div class=column >nav</div></div></article><article class=row  db_id=11  db_reff=element  ><div class=column  db_reff=tag db_id=1 ><div class=column >a</div></div><div class=column  db_reff=element db_id=8 ><div class=column >nav</div></div></article><article class=row  db_id=12  db_reff=element  ><div class=column  db_reff=tag db_id=1 ><div class=column >a</div></div><div class=column  db_reff=element db_id=8 ><div class=column >nav</div></div></article><article class=row  db_id=13  db_reff=element  ><div class=column  db_reff=tag db_id=1 ><div class=column >a</div></div><div class=column  db_reff=element db_id=8 ><div class=column >nav</div></div></article><article class=row  db_id=14  db_reff=element  ><div class=column  db_reff=tag db_id=60 ><div class=column >main</div></div><div class=column  db_reff=element db_id=5 ><div class=column >div</div></div></article><article class=row  db_id=15  db_reff=element  ><div class=column  db_reff=tag db_id=5 ><div class=column >article</div></div><div class=column  db_reff=element db_id=14 ><div class=column >main</div></div></article><article class=row  db_id=22  db_reff=element  ><div class=column  db_reff=tag db_id=37 ><div class=column >footer</div></div><div class=column  db_reff=element db_id=5 ><div class=column >div</div></div></article><article class=row  db_id=23  db_reff=element  ><div class=column  db_reff=tag db_id=5 ><div class=column >article</div></div><div class=column  db_reff=element db_id=0 ></div></article><article class=row  db_id=24  db_reff=element  ><div class=column  db_reff=tag db_id=84 ><div class=column >section</div></div><div class=column  db_reff=element db_id=23 ><div class=column >article</div></div></article><article class=row  db_id=25  db_reff=element  ><div class=column  db_reff=tag db_id=37 ><div class=column >footer</div></div><div class=column  db_reff=element db_id=23 ><div class=column >article</div></div></article><article class=row  db_id=26  db_reff=element  ><div class=column  db_reff=tag db_id=1 ><div class=column >a</div></div><div class=column  db_reff=element db_id=25 ><div class=column >footer</div></div></article><article class=row  db_id=27  db_reff=element  ><div class=column  db_reff=tag db_id=88 ><div class=column >span</div></div><div class=column  db_reff=element db_id=25 ><div class=column >footer</div></div></article></div>
	</section><section class="table" >
		<header>
			<h2>properties</h2>
			<input placeholder=search class=search />
			<div class='add_button'></div>
		</header>
		<article class=cols ><div class=col  >property</div><div class=col  >values</div></article>
		<div class=rows><article class=row  db_id=1  db_reff=property  ><div class=column  db_val=width >width</div><div class=column  db_val=auto|length|%|initial|inherit >auto|length|%|initial|inherit</div></article><article class=row  db_id=2  db_reff=property  ><div class=column  db_val=height >height</div><div class=column  db_val=auto|length|%|initial|inherit >auto|length|%|initial|inherit</div></article><article class=row  db_id=3  db_reff=property  ><div class=column  db_val=padding >padding</div><div class=column  db_val=length|initial|inherit >length|initial|inherit</div></article><article class=row  db_id=4  db_reff=property  ><div class=column  db_val=margin >margin</div><div class=column  db_val=length|auto|initial|inherit >length|auto|initial|inherit</div></article><article class=row  db_id=5  db_reff=property  ><div class=column  db_val=position >position</div><div class=column  db_val=static|absolute|fixed|relative|initial|inherit >static|absolute|fixed|relative|initial|inherit</div></article><article class=row  db_id=6  db_reff=property  ><div class=column  db_val=font-family >font-family</div><div class=column  db_val=sans-serif|serif|monospace|initial|inherit >sans-serif|serif|monospace|initial|inherit</div></article><article class=row  db_id=7  db_reff=property  ><div class=column  db_val=box-sizing >box-sizing</div><div class=column  db_val=content-box|border-box|initial|inherit >content-box|border-box|initial|inherit</div></article><article class=row  db_id=8  db_reff=property  ><div class=column  db_val=min-width >min-width</div><div class=column  db_val=length|initial|inherit >length|initial|inherit</div></article><article class=row  db_id=9  db_reff=property  ><div class=column  db_val=max-width >max-width</div><div class=column  db_val=length|initial|inherit >length|initial|inherit</div></article><article class=row  db_id=10  db_reff=property  ><div class=column  db_val=min-height >min-height</div><div class=column  db_val=length|initial|inherit >length|initial|inherit</div></article><article class=row  db_id=11  db_reff=property  ><div class=column  db_val=max-height >max-height</div><div class=column  db_val=length|initial|inherit >length|initial|inherit</div></article><article class=row  db_id=12  db_reff=property  ><div class=column  db_val=box-shadow >box-shadow</div><div class=column  db_val=none|h-shadow v-shadow blur spread color |inset|initial|inherit >none|h-shadow v-shadow blur spread color |inset|initial|inherit</div></article><article class=row  db_id=13  db_reff=property  ><div class=column  db_val=background-color >background-color</div><div class=column  db_val=color|transparent|initial|inherit >color|transparent|initial|inherit</div></article><article class=row  db_id=14  db_reff=property  ><div class=column  db_val=color >color</div><div class=column  db_val=color|initial|inherit >color|initial|inherit</div></article><article class=row  db_id=15  db_reff=property  ><div class=column  db_val=font-size >font-size</div><div class=column  db_val=medium|xx-small|x-small|small|large|x-large|xx-large|smaller|larger|length|initial|inherit >medium|xx-small|x-small|small|large|x-large|xx-large|smaller|larger|length|initial|inherit</div></article><article class=row  db_id=16  db_reff=property  ><div class=column  db_val=display >display</div><div class=column  db_val=inline|block|flex|inline-block|inline-flex|inline-table|list-item|run-in|table|table-caption|table-column-group|table-header-group|table-footer-group|table-row-group|table-cell|table-column|table-row|none|initial|inherit >inline|block|flex|inline-block|inline-flex|inline-table|list-item|run-in|table|table-caption|table-column-group|table-header-group|table-footer-group|table-row-group|table-cell|table-column|table-row|none|initial|inherit</div></article><article class=row  db_id=17  db_reff=property  ><div class=column  db_val=float >float</div><div class=column  db_val=none|left|right|initial|inherit >none|left|right|initial|inherit</div></article><article class=row  db_id=18  db_reff=property  ><div class=column  db_val=cursor >cursor</div><div class=column  db_val=url|alias|all-scroll|auto|cell|context-menu|col-resize|copy|crosshair|default|e-resize|ew-resize|help|move|n-resize|ne-resize|nesw-resize|ns-resize|nw-resize|nwse-resize|no-drop|none|not-allowed|pointer|progress|row-resize|s-resize|se-resize|sw-resize|text|vertical-text|w-resize|wait|zoom-in|zoom-out|initial|inherit >url|alias|all-scroll|auto|cell|context-menu|col-resize|copy|crosshair|default|e-resize|ew-resize|help|move|n-resize|ne-resize|nesw-resize|ns-resize|nw-resize|nwse-resize|no-drop|none|not-allowed|pointer|progress|row-resize|s-resize|se-resize|sw-resize|text|vertical-text|w-resize|wait|zoom-in|zoom-out|initial|inherit</div></article><article class=row  db_id=19  db_reff=property  ><div class=column  db_val=overflow >overflow</div><div class=column  db_val=visible|hidden|scroll|auto|initial|inherit >visible|hidden|scroll|auto|initial|inherit</div></article><article class=row  db_id=20  db_reff=property  ><div class=column  db_val=text-overflow >text-overflow</div><div class=column  db_val=clip|ellipsis|string|initial|inherit >clip|ellipsis|string|initial|inherit</div></article><article class=row  db_id=21  db_reff=property  ><div class=column  db_val=white-space >white-space</div><div class=column  db_val=normal|nowrap|pre|pre-line|pre-wrap|initial|inherit >normal|nowrap|pre|pre-line|pre-wrap|initial|inherit</div></article><article class=row  db_id=22  db_reff=property  ><div class=column  db_val=text-decoration >text-decoration</div><div class=column  db_val=none|underline|overline|line-through|initial|inherit >none|underline|overline|line-through|initial|inherit</div></article><article class=row  db_id=23  db_reff=property  ><div class=column  db_val=text-align >text-align</div><div class=column  db_val=left|right|center|justify|initial|inherit >left|right|center|justify|initial|inherit</div></article></div>
	</section><section class="table join" >
		<header>
			<h2>selector_styles</h2>
			<input placeholder=search class=search />
			<div class='add_button'></div>
		</header>
		<article class=cols ><div class=col db_reff=selector >selector_id</div><div class=col db_reff=style >style_id</div></article>
		<div class=rows><article class=row  db_id=1  ><div class=column  db_reff=selector db_id=1 ><div class=column >body *</div></div><div class=column  db_reff=style db_id=3 ><div class=column >padding</div><div class=column >0</div></div></article><article class=row  db_id=2  ><div class=column  db_reff=selector db_id=1 ><div class=column >body *</div></div><div class=column  db_reff=style db_id=4 ><div class=column >margin</div><div class=column >0</div></div></article><article class=row  db_id=3  ><div class=column  db_reff=selector db_id=1 ><div class=column >body *</div></div><div class=column  db_reff=style db_id=5 ><div class=column >position</div><div class=column >relative</div></div></article><article class=row  db_id=4  ><div class=column  db_reff=selector db_id=1 ><div class=column >body *</div></div><div class=column  db_reff=style db_id=6 ><div class=column >font-family</div><div class=column >sans-serif</div></div></article><article class=row  db_id=5  ><div class=column  db_reff=selector db_id=1 ><div class=column >body *</div></div><div class=column  db_reff=style db_id=7 ><div class=column >box-sizing</div><div class=column >border-box</div></div></article><article class=row  db_id=6  ><div class=column  db_reff=selector db_id=2 ><div class=column >nav a</div></div><div class=column  db_reff=style db_id=23 ><div class=column >font-size</div><div class=column >20px</div></div></article><article class=row  db_id=7  ><div class=column  db_reff=selector db_id=2 ><div class=column >nav a</div></div><div class=column  db_reff=style db_id=24 ><div class=column >display</div><div class=column >block</div></div></article><article class=row  db_id=8  ><div class=column  db_reff=selector db_id=2 ><div class=column >nav a</div></div><div class=column  db_reff=style db_id=25 ><div class=column >float</div><div class=column >left</div></div></article><article class=row  db_id=9  ><div class=column  db_reff=selector db_id=2 ><div class=column >nav a</div></div><div class=column  db_reff=style db_id=2 ><div class=column >height</div><div class=column >100%</div></div></article><article class=row  db_id=10  ><div class=column  db_reff=selector db_id=2 ><div class=column >nav a</div></div><div class=column  db_reff=style db_id=26 ><div class=column >padding</div><div class=column >10px 15px</div></div></article><article class=row  db_id=11  ><div class=column  db_reff=selector db_id=2 ><div class=column >nav a</div></div><div class=column  db_reff=style db_id=27 ><div class=column >margin</div><div class=column >0 0 0 10px</div></div></article><article class=row  db_id=12  ><div class=column  db_reff=selector db_id=3 ><div class=column >nav a:hover</div></div><div class=column  db_reff=style db_id=28 ><div class=column >color</div><div class=column >#fff</div></div></article><article class=row  db_id=13  ><div class=column  db_reff=selector db_id=3 ><div class=column >nav a:hover</div></div><div class=column  db_reff=style db_id=29 ><div class=column >background-color</div><div class=column >#48f</div></div></article><article class=row  db_id=14  ><div class=column  db_reff=selector db_id=3 ><div class=column >nav a:hover</div></div><div class=column  db_reff=style db_id=30 ><div class=column >cursor</div><div class=column >pointer</div></div></article><article class=row  db_id=15  ><div class=column  db_reff=selector db_id=4 ><div class=column >main article</div></div><div class=column  db_reff=style db_id=32 ><div class=column >box-shadow</div><div class=column >0 2px 12px -5px #000</div></div></article><article class=row  db_id=16  ><div class=column  db_reff=selector db_id=4 ><div class=column >main article</div></div><div class=column  db_reff=style db_id=33 ><div class=column >width</div><div class=column >23%</div></div></article><article class=row  db_id=17  ><div class=column  db_reff=selector db_id=4 ><div class=column >main article</div></div><div class=column  db_reff=style db_id=34 ><div class=column >margin</div><div class=column >1%</div></div></article><article class=row  db_id=18  ><div class=column  db_reff=selector db_id=4 ><div class=column >main article</div></div><div class=column  db_reff=style db_id=18 ><div class=column >height</div><div class=column >100px</div></div></article><article class=row  db_id=19  ><div class=column  db_reff=selector db_id=4 ><div class=column >main article</div></div><div class=column  db_reff=style db_id=25 ><div class=column >float</div><div class=column >left</div></div></article><article class=row  db_id=20  ><div class=column  db_reff=selector db_id=5 ><div class=column >body a</div></div><div class=column  db_reff=style db_id=44 ><div class=column >text-decoration</div><div class=column >none</div></div></article><article class=row  db_id=21  ><div class=column  db_reff=selector db_id=6 ><div class=column >main article img</div></div><div class=column  db_reff=style db_id=39 ><div class=column >max-width</div><div class=column >100%</div></div></article></div>
	</section><section class="table" >
		<header>
			<h2>selectors</h2>
			<input placeholder=search class=search />
			<div class='add_button'></div>
		</header>
		<article class=cols ><div class=col  >selector</div></article>
		<div class=rows><article class=row  db_id=1  db_reff=selector  ><div class=column  db_val=body * >body *</div></article><article class=row  db_id=2  db_reff=selector  ><div class=column  db_val=nav a >nav a</div></article><article class=row  db_id=3  db_reff=selector  ><div class=column  db_val=nav a:hover >nav a:hover</div></article><article class=row  db_id=4  db_reff=selector  ><div class=column  db_val=main article >main article</div></article><article class=row  db_id=5  db_reff=selector  ><div class=column  db_val=body a >body a</div></article><article class=row  db_id=6  db_reff=selector  ><div class=column  db_val=main article img >main article img</div></article></div>
	</section><section class="table join" >
		<header>
			<h2>structure_elements</h2>
			<input placeholder=search class=search />
			<div class='add_button'></div>
		</header>
		<article class=cols ><div class=col db_reff=structure >structure_id</div><div class=col db_reff=element >element_id</div></article>
		<div class=rows><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=1 ><div class=column >html</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=2 ><div class=column >html</div><div class=column >head</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=3 ><div class=column >head</div><div class=column >title</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=4 ><div class=column >html</div><div class=column >body</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=5 ><div class=column >body</div><div class=column >div</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=6 ><div class=column >div</div><div class=column >header</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=7 ><div class=column >header</div><div class=column >h1</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=8 ><div class=column >div</div><div class=column >nav</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=9 ><div class=column >nav</div><div class=column >a</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=10 ><div class=column >nav</div><div class=column >a</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=11 ><div class=column >nav</div><div class=column >a</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=12 ><div class=column >nav</div><div class=column >a</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=13 ><div class=column >nav</div><div class=column >a</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=14 ><div class=column >div</div><div class=column >main</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=15 ><div class=column >main</div><div class=column >article</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=1 ><div class=column >page</div></div><div class=column  db_reff=element db_id=22 ><div class=column >div</div><div class=column >footer</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=2 ><div class=column >article</div></div><div class=column  db_reff=element db_id=23 ><div class=column >article</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=2 ><div class=column >article</div></div><div class=column  db_reff=element db_id=24 ><div class=column >article</div><div class=column >section</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=2 ><div class=column >article</div></div><div class=column  db_reff=element db_id=25 ><div class=column >article</div><div class=column >footer</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=2 ><div class=column >article</div></div><div class=column  db_reff=element db_id=26 ><div class=column >footer</div><div class=column >a</div></div></article><article class=row  ><div class=column  db_reff=structure db_id=2 ><div class=column >article</div></div><div class=column  db_reff=element db_id=27 ><div class=column >footer</div><div class=column >span</div></div></article></div>
	</section><section class="table" >
		<header>
			<h2>structures</h2>
			<input placeholder=search class=search />
			<div class='add_button'></div>
		</header>
		<article class=cols ><div class=col db_reff=structure >name</div></article>
		<div class=rows><article class=row  db_id=1  db_reff=structure  ><div class=column  db_reff=structure db_id=page >page</div></article><article class=row  db_id=2  db_reff=structure  ><div class=column  db_reff=structure db_id=article >article</div></article></div>
	</section><section class="table" >
		<header>
			<h2>styles</h2>
			<input placeholder=search class=search />
			<div class='add_button'></div>
		</header>
		<article class=cols ><div class=col db_reff=property >property_id</div><div class=col  >value</div></article>
		<div class=rows><article class=row  db_id=1  db_reff=style  ><div class=column  db_reff=property db_id=1 ><div class=column >width</div></div><div class=column  db_val=100% >100%</div></article><article class=row  db_id=2  db_reff=style  ><div class=column  db_reff=property db_id=2 ><div class=column >height</div></div><div class=column  db_val=100% >100%</div></article><article class=row  db_id=3  db_reff=style  ><div class=column  db_reff=property db_id=3 ><div class=column >padding</div></div><div class=column  db_val=0 >0</div></article><article class=row  db_id=4  db_reff=style  ><div class=column  db_reff=property db_id=4 ><div class=column >margin</div></div><div class=column  db_val=0 >0</div></article><article class=row  db_id=5  db_reff=style  ><div class=column  db_reff=property db_id=5 ><div class=column >position</div></div><div class=column  db_val=relative >relative</div></article><article class=row  db_id=6  db_reff=style  ><div class=column  db_reff=property db_id=6 ><div class=column >font-family</div></div><div class=column  db_val=sans-serif >sans-serif</div></article><article class=row  db_id=7  db_reff=style  ><div class=column  db_reff=property db_id=7 ><div class=column >box-sizing</div></div><div class=column  db_val=border-box >border-box</div></article><article class=row  db_id=8  db_reff=style  ><div class=column  db_reff=property db_id=4 ><div class=column >margin</div></div><div class=column  db_val=auto >auto</div></article><article class=row  db_id=9  db_reff=style  ><div class=column  db_reff=property db_id=1 ><div class=column >width</div></div><div class=column  db_val=80% >80%</div></article><article class=row  db_id=10  db_reff=style  ><div class=column  db_reff=property db_id=8 ><div class=column >min-width</div></div><div class=column  db_val=800px >800px</div></article><article class=row  db_id=11  db_reff=style  ><div class=column  db_reff=property db_id=9 ><div class=column >max-width</div></div><div class=column  db_val=1024px >1024px</div></article><article class=row  db_id=12  db_reff=style  ><div class=column  db_reff=property db_id=12 ><div class=column >box-shadow</div></div><div class=column  db_val=0 0 25px -5px #000 >0 0 25px -5px #000</div></article><article class=row  db_id=13  db_reff=style  ><div class=column  db_reff=property db_id=2 ><div class=column >height</div></div><div class=column  db_val=150px >150px</div></article><article class=row  db_id=14  db_reff=style  ><div class=column  db_reff=property db_id=13 ><div class=column >background-color</div></div><div class=column  db_val=#fff >#fff</div></article><article class=row  db_id=15  db_reff=style  ><div class=column  db_reff=property db_id=2 ><div class=column >height</div></div><div class=column  db_val=50px >50px</div></article><article class=row  db_id=16  db_reff=style  ><div class=column  db_reff=property db_id=13 ><div class=column >background-color</div></div><div class=column  db_val=#def >#def</div></article><article class=row  db_id=17  db_reff=style  ><div class=column  db_reff=property db_id=10 ><div class=column >min-height</div></div><div class=column  db_val=500px >500px</div></article><article class=row  db_id=18  db_reff=style  ><div class=column  db_reff=property db_id=2 ><div class=column >height</div></div><div class=column  db_val=100px >100px</div></article><article class=row  db_id=19  db_reff=style  ><div class=column  db_reff=property db_id=13 ><div class=column >background-color</div></div><div class=column  db_val=#012 >#012</div></article><article class=row  db_id=20  db_reff=style  ><div class=column  db_reff=property db_id=3 ><div class=column >padding</div></div><div class=column  db_val=30px >30px</div></article><article class=row  db_id=21  db_reff=style  ><div class=column  db_reff=property db_id=15 ><div class=column >font-size</div></div><div class=column  db_val=40px >40px</div></article><article class=row  db_id=22  db_reff=style  ><div class=column  db_reff=property db_id=14 ><div class=column >color</div></div><div class=column  db_val=#48f >#48f</div></article><article class=row  db_id=23  db_reff=style  ><div class=column  db_reff=property db_id=15 ><div class=column >font-size</div></div><div class=column  db_val=20px >20px</div></article><article class=row  db_id=24  db_reff=style  ><div class=column  db_reff=property db_id=16 ><div class=column >display</div></div><div class=column  db_val=block >block</div></article><article class=row  db_id=25  db_reff=style  ><div class=column  db_reff=property db_id=17 ><div class=column >float</div></div><div class=column  db_val=left >left</div></article><article class=row  db_id=26  db_reff=style  ><div class=column  db_reff=property db_id=3 ><div class=column >padding</div></div><div class=column  db_val=10px 15px >10px 15px</div></article><article class=row  db_id=27  db_reff=style  ><div class=column  db_reff=property db_id=4 ><div class=column >margin</div></div><div class=column  db_val=0 0 0 10px >0 0 0 10px</div></article><article class=row  db_id=28  db_reff=style  ><div class=column  db_reff=property db_id=14 ><div class=column >color</div></div><div class=column  db_val=#fff >#fff</div></article><article class=row  db_id=29  db_reff=style  ><div class=column  db_reff=property db_id=13 ><div class=column >background-color</div></div><div class=column  db_val=#48f >#48f</div></article><article class=row  db_id=30  db_reff=style  ><div class=column  db_reff=property db_id=18 ><div class=column >cursor</div></div><div class=column  db_val=pointer >pointer</div></article><article class=row  db_id=31  db_reff=style  ><div class=column  db_reff=property db_id=3 ><div class=column >padding</div></div><div class=column  db_val=10px 50px >10px 50px</div></article><article class=row  db_id=32  db_reff=style  ><div class=column  db_reff=property db_id=12 ><div class=column >box-shadow</div></div><div class=column  db_val=0 2px 12px -5px #000 >0 2px 12px -5px #000</div></article><article class=row  db_id=33  db_reff=style  ><div class=column  db_reff=property db_id=1 ><div class=column >width</div></div><div class=column  db_val=23% >23%</div></article><article class=row  db_id=34  db_reff=style  ><div class=column  db_reff=property db_id=4 ><div class=column >margin</div></div><div class=column  db_val=1% >1%</div></article><article class=row  db_id=35  db_reff=style  ><div class=column  db_reff=property db_id=2 ><div class=column >height</div></div><div class=column  db_val=75px >75px</div></article><article class=row  db_id=36  db_reff=style  ><div class=column  db_reff=property db_id=2 ><div class=column >height</div></div><div class=column  db_val=25px >25px</div></article><article class=row  db_id=37  db_reff=style  ><div class=column  db_reff=property db_id=19 ><div class=column >overflow</div></div><div class=column  db_val=hidden >hidden</div></article><article class=row  db_id=38  db_reff=style  ><div class=column  db_reff=property db_id=1 ><div class=column >width</div></div><div class=column  db_val=20% >20%</div></article><article class=row  db_id=39  db_reff=style  ><div class=column  db_reff=property db_id=9 ><div class=column >max-width</div></div><div class=column  db_val=100% >100%</div></article><article class=row  db_id=40  db_reff=style  ><div class=column  db_reff=property db_id=17 ><div class=column >float</div></div><div class=column  db_val=right >right</div></article><article class=row  db_id=41  db_reff=style  ><div class=column  db_reff=property db_id=20 ><div class=column >text-overflow</div></div><div class=column  db_val=ellipsis >ellipsis</div></article><article class=row  db_id=42  db_reff=style  ><div class=column  db_reff=property db_id=21 ><div class=column >white-space</div></div><div class=column  db_val=nowrap >nowrap</div></article><article class=row  db_id=43  db_reff=style  ><div class=column  db_reff=property db_id=3 ><div class=column >padding</div></div><div class=column  db_val=5px 0 0 3px >5px 0 0 3px</div></article><article class=row  db_id=44  db_reff=style  ><div class=column  db_reff=property db_id=22 ><div class=column >text-decoration</div></div><div class=column  db_val=none >none</div></article><article class=row  db_id=45  db_reff=style  ><div class=column  db_reff=property db_id=23 ><div class=column >text-align</div></div><div class=column  db_val=right >right</div></article><article class=row  db_id=46  db_reff=style  ><div class=column  db_reff=property db_id=3 ><div class=column >padding</div></div><div class=column  db_val=5px >5px</div></article><article class=row  db_id=47  db_reff=style  ><div class=column  db_reff=property db_id=15 ><div class=column >font-size</div></div><div class=column  db_val=15px >15px</div></article><article class=row  db_id=48  db_reff=style  ><div class=column  db_reff=property db_id=3 ><div class=column >padding</div></div><div class=column  db_val=5px 5px 0 0 >5px 5px 0 0</div></article></div>
	</section><section class="table" >
		<header>
			<h2>tags</h2>
			<input placeholder=search class=search />
			<div class='add_button'></div>
		</header>
		<article class=cols ><div class=col  >tag</div></article>
		<div class=rows><article class=row  db_id=1  db_reff=tag  ><div class=column  db_val=a >a</div></article><article class=row  db_id=2  db_reff=tag  ><div class=column  db_val=abbr >abbr</div></article><article class=row  db_id=3  db_reff=tag  ><div class=column  db_val=address >address</div></article><article class=row  db_id=4  db_reff=tag  ><div class=column  db_val=area >area</div></article><article class=row  db_id=5  db_reff=tag  ><div class=column  db_val=article >article</div></article><article class=row  db_id=6  db_reff=tag  ><div class=column  db_val=aside >aside</div></article><article class=row  db_id=7  db_reff=tag  ><div class=column  db_val=audio >audio</div></article><article class=row  db_id=8  db_reff=tag  ><div class=column  db_val=b >b</div></article><article class=row  db_id=9  db_reff=tag  ><div class=column  db_val=base >base</div></article><article class=row  db_id=10  db_reff=tag  ><div class=column  db_val=bdi >bdi</div></article><article class=row  db_id=11  db_reff=tag  ><div class=column  db_val=bdo >bdo</div></article><article class=row  db_id=12  db_reff=tag  ><div class=column  db_val=blockquote >blockquote</div></article><article class=row  db_id=13  db_reff=tag  ><div class=column  db_val=body >body</div></article><article class=row  db_id=14  db_reff=tag  ><div class=column  db_val=br >br</div></article><article class=row  db_id=15  db_reff=tag  ><div class=column  db_val=button >button</div></article><article class=row  db_id=16  db_reff=tag  ><div class=column  db_val=canvas >canvas</div></article><article class=row  db_id=17  db_reff=tag  ><div class=column  db_val=caption >caption</div></article><article class=row  db_id=18  db_reff=tag  ><div class=column  db_val=cite >cite</div></article><article class=row  db_id=19  db_reff=tag  ><div class=column  db_val=code >code</div></article><article class=row  db_id=20  db_reff=tag  ><div class=column  db_val=col >col</div></article><article class=row  db_id=21  db_reff=tag  ><div class=column  db_val=colgroup >colgroup</div></article><article class=row  db_id=22  db_reff=tag  ><div class=column  db_val=command >command</div></article><article class=row  db_id=23  db_reff=tag  ><div class=column  db_val=datalist >datalist</div></article><article class=row  db_id=24  db_reff=tag  ><div class=column  db_val=dd >dd</div></article><article class=row  db_id=25  db_reff=tag  ><div class=column  db_val=del >del</div></article><article class=row  db_id=26  db_reff=tag  ><div class=column  db_val=details >details</div></article><article class=row  db_id=27  db_reff=tag  ><div class=column  db_val=dfn >dfn</div></article><article class=row  db_id=28  db_reff=tag  ><div class=column  db_val=dialog >dialog</div></article><article class=row  db_id=29  db_reff=tag  ><div class=column  db_val=div >div</div></article><article class=row  db_id=30  db_reff=tag  ><div class=column  db_val=dl >dl</div></article><article class=row  db_id=31  db_reff=tag  ><div class=column  db_val=dt >dt</div></article><article class=row  db_id=32  db_reff=tag  ><div class=column  db_val=em >em</div></article><article class=row  db_id=33  db_reff=tag  ><div class=column  db_val=embed >embed</div></article><article class=row  db_id=34  db_reff=tag  ><div class=column  db_val=fieldset >fieldset</div></article><article class=row  db_id=35  db_reff=tag  ><div class=column  db_val=figcaption >figcaption</div></article><article class=row  db_id=36  db_reff=tag  ><div class=column  db_val=figure >figure</div></article><article class=row  db_id=37  db_reff=tag  ><div class=column  db_val=footer >footer</div></article><article class=row  db_id=38  db_reff=tag  ><div class=column  db_val=form >form</div></article><article class=row  db_id=39  db_reff=tag  ><div class=column  db_val=h1 >h1</div></article><article class=row  db_id=40  db_reff=tag  ><div class=column  db_val=h2 >h2</div></article><article class=row  db_id=41  db_reff=tag  ><div class=column  db_val=h3 >h3</div></article><article class=row  db_id=42  db_reff=tag  ><div class=column  db_val=h4 >h4</div></article><article class=row  db_id=43  db_reff=tag  ><div class=column  db_val=h5 >h5</div></article><article class=row  db_id=44  db_reff=tag  ><div class=column  db_val=h6 >h6</div></article><article class=row  db_id=45  db_reff=tag  ><div class=column  db_val=head >head</div></article><article class=row  db_id=46  db_reff=tag  ><div class=column  db_val=header >header</div></article><article class=row  db_id=47  db_reff=tag  ><div class=column  db_val=hr >hr</div></article><article class=row  db_id=48  db_reff=tag  ><div class=column  db_val=html >html</div></article><article class=row  db_id=49  db_reff=tag  ><div class=column  db_val=i >i</div></article><article class=row  db_id=50  db_reff=tag  ><div class=column  db_val=iframe >iframe</div></article><article class=row  db_id=51  db_reff=tag  ><div class=column  db_val=img >img</div></article><article class=row  db_id=52  db_reff=tag  ><div class=column  db_val=input >input</div></article><article class=row  db_id=53  db_reff=tag  ><div class=column  db_val=ins >ins</div></article><article class=row  db_id=54  db_reff=tag  ><div class=column  db_val=kbd >kbd</div></article><article class=row  db_id=55  db_reff=tag  ><div class=column  db_val=keygen >keygen</div></article><article class=row  db_id=56  db_reff=tag  ><div class=column  db_val=label >label</div></article><article class=row  db_id=57  db_reff=tag  ><div class=column  db_val=legend >legend</div></article><article class=row  db_id=58  db_reff=tag  ><div class=column  db_val=li >li</div></article><article class=row  db_id=59  db_reff=tag  ><div class=column  db_val=link >link</div></article><article class=row  db_id=60  db_reff=tag  ><div class=column  db_val=main >main</div></article><article class=row  db_id=61  db_reff=tag  ><div class=column  db_val=map >map</div></article><article class=row  db_id=62  db_reff=tag  ><div class=column  db_val=mark >mark</div></article><article class=row  db_id=63  db_reff=tag  ><div class=column  db_val=menu >menu</div></article><article class=row  db_id=64  db_reff=tag  ><div class=column  db_val=meta >meta</div></article><article class=row  db_id=65  db_reff=tag  ><div class=column  db_val=meter >meter</div></article><article class=row  db_id=66  db_reff=tag  ><div class=column  db_val=nav >nav</div></article><article class=row  db_id=67  db_reff=tag  ><div class=column  db_val=noscript >noscript</div></article><article class=row  db_id=68  db_reff=tag  ><div class=column  db_val=object >object</div></article><article class=row  db_id=69  db_reff=tag  ><div class=column  db_val=ol >ol</div></article><article class=row  db_id=70  db_reff=tag  ><div class=column  db_val=optgroup >optgroup</div></article><article class=row  db_id=71  db_reff=tag  ><div class=column  db_val=option >option</div></article><article class=row  db_id=72  db_reff=tag  ><div class=column  db_val=output >output</div></article><article class=row  db_id=73  db_reff=tag  ><div class=column  db_val=p >p</div></article><article class=row  db_id=74  db_reff=tag  ><div class=column  db_val=param >param</div></article><article class=row  db_id=75  db_reff=tag  ><div class=column  db_val=pre >pre</div></article><article class=row  db_id=76  db_reff=tag  ><div class=column  db_val=progress >progress</div></article><article class=row  db_id=77  db_reff=tag  ><div class=column  db_val=q >q</div></article><article class=row  db_id=78  db_reff=tag  ><div class=column  db_val=rp >rp</div></article><article class=row  db_id=79  db_reff=tag  ><div class=column  db_val=rt >rt</div></article><article class=row  db_id=80  db_reff=tag  ><div class=column  db_val=ruby >ruby</div></article><article class=row  db_id=81  db_reff=tag  ><div class=column  db_val=s >s</div></article><article class=row  db_id=82  db_reff=tag  ><div class=column  db_val=samp >samp</div></article><article class=row  db_id=83  db_reff=tag  ><div class=column  db_val=script >script</div></article><article class=row  db_id=84  db_reff=tag  ><div class=column  db_val=section >section</div></article><article class=row  db_id=85  db_reff=tag  ><div class=column  db_val=select >select</div></article><article class=row  db_id=86  db_reff=tag  ><div class=column  db_val=smail >smail</div></article><article class=row  db_id=87  db_reff=tag  ><div class=column  db_val=source >source</div></article><article class=row  db_id=88  db_reff=tag  ><div class=column  db_val=span >span</div></article><article class=row  db_id=89  db_reff=tag  ><div class=column  db_val=strong >strong</div></article><article class=row  db_id=90  db_reff=tag  ><div class=column  db_val=style >style</div></article><article class=row  db_id=91  db_reff=tag  ><div class=column  db_val=sub >sub</div></article><article class=row  db_id=92  db_reff=tag  ><div class=column  db_val=summary >summary</div></article><article class=row  db_id=93  db_reff=tag  ><div class=column  db_val=sup >sup</div></article><article class=row  db_id=94  db_reff=tag  ><div class=column  db_val=table >table</div></article><article class=row  db_id=95  db_reff=tag  ><div class=column  db_val=tbody >tbody</div></article><article class=row  db_id=96  db_reff=tag  ><div class=column  db_val=td >td</div></article><article class=row  db_id=97  db_reff=tag  ><div class=column  db_val=textarea >textarea</div></article><article class=row  db_id=98  db_reff=tag  ><div class=column  db_val=tfoot >tfoot</div></article><article class=row  db_id=99  db_reff=tag  ><div class=column  db_val=th >th</div></article><article class=row  db_id=100  db_reff=tag  ><div class=column  db_val=thead >thead</div></article><article class=row  db_id=101  db_reff=tag  ><div class=column  db_val=time >time</div></article><article class=row  db_id=102  db_reff=tag  ><div class=column  db_val=title >title</div></article><article class=row  db_id=103  db_reff=tag  ><div class=column  db_val=tr >tr</div></article><article class=row  db_id=104  db_reff=tag  ><div class=column  db_val=track >track</div></article><article class=row  db_id=105  db_reff=tag  ><div class=column  db_val=u >u</div></article><article class=row  db_id=106  db_reff=tag  ><div class=column  db_val=ul >ul</div></article><article class=row  db_id=107  db_reff=tag  ><div class=column  db_val=var >var</div></article><article class=row  db_id=108  db_reff=tag  ><div class=column  db_val=video >video</div></article><article class=row  db_id=109  db_reff=tag  ><div class=column  db_val=wbr >wbr</div></article></div>
	</section></div>
<div id=joins ></div>
<script>

	$('[db_reff][db_id]').hoverIntent(function () {
			var _this=this
			var $this=$(this)
			var $tables=$('section.table')
			$tables.each(function () {
				var $reffs=$(this).find('[db_reff='+$this.attr('db_reff')+'][db_id='+$this.attr('db_id')+']')
				$reffs.addClass('hover')
				if ($reffs.length && $reffs.eq(0)[0]!=_this && this!=$this.closest('.table')[0]) {
					$(this).find('.rows').clearQueue()
					$(this).find('.rows').stop(true)
					$(this).find('.rows').animate({
						scrollTop: $reffs.eq(0).offset().top-$(this).find('.rows .row').eq(0).offset().top}, 200);
				}
			})
			
		
	},function () {
		$('[db_reff='+$(this).attr('db_reff')+'][db_id='+$(this).attr('db_id')+']').removeClass('hover')
	})
	$('article').each(function () {
		var cols=$(this).children('.column,.col')
		if (cols.length<3) {
			cols.css('width',(100/cols.length)+'%')
		}
		cols.each(function () {
			var sub_cols=$(this).children('.column')
			sub_cols.css('width',(100/sub_cols.length)+'%')
		})
	})
	$('.search').each(function () {
		var $this=$(this)
		$this.keypress(function (e) {
			var code = e.keyCode || e.which;
			 if(code == 13) {
				var $val=$this.val()
				$this.closest('.table').find('.rows').each(function() {
				$(this).find('.column').removeClass('hover')
					$(this).find('.column').each (function () {
						if ($val && ($(this).text().indexOf($val) != -1 || $val==$(this).attr('db_id'))) {
							$(this).addClass('hover')
							$(this).closest('.rows').clearQueue()
							$(this).closest('.rows').stop()
							$(this).closest('.rows').css('scrollTop',$(this).offset().top)
							
							$(this).closest('.rows').clearQueue()
							$(this).closest('.rows').stop(true)
							$(this).closest('.rows').animate({
								scrollTop: $(this).offset().top-$(this).closest('.rows').find('.row').eq(0).offset().top}, 200);
						}
					})
				})
			 }
		})
	})
	
	var $joins=$('.table.join').detach()
	$('#joins').append($joins)
	function add_button() {
		var $table=$(this).closest('.table'),
			$cols=$table.find('.cols .col'),
			$ins=$('<article/>',{'class':'inputs'});
		$(this).unbind('click')
		$(this).click(function () {
			//try save
			var got_all=true,
				datas={};
			$ins.find('.col').each(function () {
				var vd=$(this).find('.val_drop'),
					ip=$(this).find('input')
				if (vd.length) {
					if (vd.is('[value]')) {
						datas[vd.attr('name')]=vd.attr('value')
					} else got_all=false
				} else if (ip.length){
					if (ip.val()) {
						datas[ip.attr('name')]=ip.val()
					} else got_all=false
				} else {
					got_all=false
				}
			})
			if (got_all) {
				$.post('dash_save.php',{'datas':JSON.stringify(datas)},function (data) {
					console.log(data)
				})
			}
			//else remove
			$ins.remove()
			$(this).unbind('click')
			$(this).click(add_button)
		})
		$ins.insertAfter($table.find('.cols').eq(0))
		$cols.each(function () {
			var $cont=$('<div/>',{'class':'col'});
			//if not foreign id, input is text
			if ($(this).html().indexOf('_id') == -1) {
				var $inp=$('<input/>',{'type':'text','name':$(this).html()})
			// else input is type (d&d)
			} else {
				var $inp=$('<div/>',{'class':'val_drop','name':$(this).html()}).html($(this).attr('db_reff'))
				$('article[db_reff='+$(this).attr('db_reff')+']').draggable({
					'containment':'body',
					'appendTo':'body',
					'helper':'clone'
				})
				$inp.droppable({
					'accept':'article[db_reff='+$(this).attr('db_reff')+']',
					'drop':function (event,ui) {
						$(this).html(ui.draggable.html())
						$(this).attr('value',ui.draggable.attr('db_id'))
					}
				})
			}
			$ins.append($cont.append($inp))
		})
		var cols=$table.find('.inputs .col')
		if (cols.length<3) {
			cols.css('width',(100/cols.length)+'%')
		}
	}
	$('.add_button').click(add_button)
</script>