
.icon-load:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-star-empty:before { content: '\e813'; } /* '' */
.icon-image:before { content: '\e811'; } /* '' */
.icon-done:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e815'; } /* '' */
.icon-link:before { content: '\e816'; } /* '' */
.icon-views:before { content: '\e814'; } /* '' */
.icon-text:before { content: '\e810'; } /* '' */